<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Minecraft_News.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Minecraft_News.Properties.Settings>
            <setting name="SectionScroll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxNews" serializeAs="String">
                <value>25</value>
            </setting>
        </Minecraft_News.Properties.Settings>
    </userSettings>
</configuration>